{% extends "base.html" %}
{% block titulo %}Editar Juego{% endblock %}
{% block encabezado %}Editar Videojuego{% endblock %}

{% block contenido %}
<form method="POST" class="formulario">
    <label>Nombre</label>
    <input type="text" name="nombre" value="{{ juego[1] }}" required>

    <label>Género</label>
    <input type="text" name="genero" value="{{ juego[2] }}" required>

    <label>Desarrollador</label>
    <input type="text" name="desarrollador" value="{{ juego[3] }}" required>

    <button type="submit" class="btn btn-editar">Actualizar</button>
</form>
<a href="{{ url_for('juegos_index') }}" class="btn btn-volver">⬅️ Volver</a>
{% endblock %}
