{% extends "base.html" %}
{% block titulo %}Videojuegos{% endblock %}
{% block encabezado %}Lista de Videojuegos{% endblock %}

{% block contenido %}
<a href="{{ url_for('juegos_crear') }}" class="btn">➕ Nuevo Videojuego</a>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Género</th>
            <th>Desarrollador</th>
            <th>Promedio ⭐</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for juego in juegos %}
        <tr>
            <td>{{ juego[0] }}</td>
            <td><a href="{{ url_for('juegos_detalle', id=juego[0]) }}">{{ juego[1] }}</a></td>
            <td>{{ juego[2] }}</td>
            <td>{{ juego[3] }}</td>
            <td>{{ juego[4] }}</td>
            <td>
                <a href="{{ url_for('juegos_editar', id=juego[0]) }}" class="btn btn-editar">✏️ Editar</a>
                <a href="{{ url_for('juegos_eliminar', id=juego[0]) }}" class="btn btn-eliminar">🗑️ Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
